@import '../main';

.sidenav {
  width: 300px;
  height: 100vh;
  display: flex;
  position: sticky;
  min-width: 100px;
  background-color: $secondary-light;
  flex-direction: column;
  padding: 81px 25px 20px 25px;
  overflow: hidden;
  &__items {
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-size: 16px;
    border-top: 1px solid rgba(255, 255, 255, 0.155);
    border-bottom: 1px solid rgba(255, 255, 255, 0.155);
    padding: 40px 0;
    li {
      display: flex;
      align-items: center;
      gap: 10px;
      width: 100%;
      padding: 6px;
      height: 100%;
      border-radius: 10px;
      opacity: 0.7;
      &:hover {
        background-color: rgba($color: #4d4d4d, $alpha: 0.1);
      }
    }
  }
  .active {
    opacity: 1;
    background-color: rgba($color: #4d4d4d, $alpha: 0.1);
    .icon {
      color: $main;
    }
  }
}
