@font-face {
  font-family: Yekan;
  src: url(./assets/fonts/YekanBakh-Regular.ttf);
}
@font-face {
  font-family: YekanBold;
  src: url(./assets/fonts/YekanBakh-Bold.ttf);
}
@font-face {
  font-family: YekanLight;
  src: url(./assets/fonts/YekanBakh-Light.ttf);
}
@font-face {
  font-family: YekanThin;
  src: url(./assets/fonts/YekanBakh-Thin.ttf);
}

a {
  color: white;
  text-decoration: none;
}

ul {
  list-style: none;
}

button {
  font-family: Yekan;
  font-size: 10px;
}
input {
  font-family: Yekan;
  font-size: 17px;
  padding: 15px 25px 15px 15px;
  color: white;
  &:active {
    outline: none;
    border: none;
  }
  &:focus {
    outline: none;
    border: none;
  }
}
